---
kind: Secret
apiVersion: v1
type: kubernetes.io/tls
metadata:
  name: apps-cert
  namespace: openshift-ingress   
data:
  tls.crt: >-
    {{ apps_crt['content'] | indent(width=4) }}
  tls.key: >-
    {{ apps_key['content'] | indent(width=4) }}