---
kind: Secret
apiVersion: v1
type: kubernetes.io/tls
metadata:
  name: api-cert
  namespace: openshift-config 
data:
  tls.crt: >-
    {{ api_crt['content'] | indent(width=4) }}
  tls.key: >-
    {{ api_key['content'] | indent(width=4) }}